# Eclipse
.classpath
.project
.settings/
/bin
eclipse

# Intellij
.idea
*.iml
*.ipr
*.iws

# Mac
.DS_Store

# Gradle
.gradle
/local.properties
bin
build
target
/dependency-reduced-pom.xml
*-private.sh
