body {
	padding-top: 60px;
	padding-bottom: 40px;
}
button .navbar-btn  a{
	text-decoration: none;
	color: #fff;
}

.server-option {
	float: none !important;
}

.panel-jumbotron .panel-body .pastbans {
	font-size: 12px;
    font-weight: bold;
}
.panel-jumbotron .panel-body .pastbans .badge {
	color: #ED381C;
	background: none;
}
#ajaxLoading {
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	text-align: center;
}
#ajaxLoading.small {
	display: inline-block;
	margin: 0;
	vertical-align: text-top;
}
.latestban {
	position: relative;
}
.latestban button {
	position: absolute;
	right: 4px;
	top: 4px;
}
#servers td {
	vertical-align: middle;
}
td.admin-options {
	text-align: center;
}
#search {
	position: relative;
}
.minihead {
	width: 20px;
	display: inline-block;
}
.minecraft_head .head {
    display:none;
}
.minecraft_head:hover .hat {
    display:none;
}
.minecraft_head:hover .head {
    display:inline-block;
}
.scratch {
    display:none;
}
#copyright_image{
	width: 100px;
	height: 25px;
	margin-top: -6px;
}
#excludepast{
	padding: 5px;
}

.jumbotron {
	font-size: inherit;
}

.jumbotron .input-group {
	line-height: 0px;
}

.form-control.fixedWidth {
    width: 100%;
}

@media screen and (min-width: 768px) {
	.form-control.fixedWidth {
		width: 550px;
	}
}

.player_information {
	background: #eee;
	padding: 5px;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	height: 300px;
}

#player_name {
	font-weight: 700;
	text-align: center;
	display: inherit;
}

.skin {
	text-align: center;
	display: block;
}

#player_ban_info {
	max-height: 700px;
	overflow: auto;
}
